@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,900&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: right;
  line-height: 0.8; }

*,
*:before,
*.after {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.header {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 5px 5px 5px 2px #ccc; }
  .header__container {
    margin: 0 auto;
    max-width: 323px; }
    .header__container__logo {
      padding: 2em 0 0 1em; }
      .header__container__logo__circle {
        background-color: #ffffff;
        width: 116px;
        height: 116px;
        border-radius: 50%; }
      .header__container__logo__initials {
        font-family: "Grand Hotel", cursive;
        font-size: 4rem;
        color: #000000;
        padding: 0.2em 0 0 0.4em; }
    .header__container__intro {
      margin-top: -1.75em;
      padding-right: 1.25em;
      letter-spacing: -0.1em; }
    .header__container__nav {
      width: 90%;
      padding: 1.75em 0 0.75em;
      margin: 0 auto;
      text-align: center; }
      .header__container__nav__menu {
        padding: 0;
        margin: 0; }
        .header__container__nav__menu__item {
          display: inline;
          font-family: "Roboto", sans-serif;
          text-transform: lowercase;
          padding-right: 1em; }
          .header__container__nav__menu__item:last-of-type {
            padding-right: 0; }
          .header__container__nav__menu__item__link {
            text-decoration: none;
            color: #ffffff;
            font-size: 0.875rem; }
            .header__container__nav__menu__item__link:hover, .header__container__nav__menu__item__link:focus {
              text-transform: uppercase;
              border-top: 1px solid #ffffff;
              padding-top: 0.5em; }

.intro {
  background-color: #F6E9E9;
  padding: 2.5em;
  font-family: "Roboto", sans-serif; }
  .intro__title {
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0.5em;
    letter-spacing: -0.1rem; }
  .intro p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5em; }
    .intro p:last-of-type {
      margin-bottom: 0; }

.projects {
  padding: 1.5em 1em;
  font-family: "Roboto", sans-serif; }
  .projects__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em; }
    .projects__container__title {
      font-size: 3rem;
      text-transform: lowercase;
      font-weight: 300;
      padding: 0;
      letter-spacing: -0.1rem;
      line-height: 0.85; }
      .projects__container__title__bold {
        font-weight: 700;
        font-size: 3rem; }
    .projects__container__filter {
      font-style: italic;
      text-align: right;
      font-size: 1.125rem;
      letter-spacing: -0.05rem;
      align-self: flex-end; }

.skills {
  padding: 1.5em 1em;
  font-family: "Roboto", sans-serif; }
  .skills__title {
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0.5em;
    letter-spacing: -0.1rem;
    line-height: 1; }
    .skills__title__bold {
      font-weight: 700;
      font-size: 3rem; }
  .skills p {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0.5em; }
  .skills__list {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .skills__list__col {
      list-style-type: none;
      text-align: right;
      width: 45%;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-style: italic; }
      .skills__list__col__item {
        font-size: 1.5rem;
        border-bottom: 5px solid;
        margin-bottom: 0.5em; }
      .skills__list__col li.item-1 {
        border-color: #262626; }
      .skills__list__col li.item-2 {
        border-color: #4d4d4d; }
      .skills__list__col li.item-3 {
        border-color: #737373; }
      .skills__list__col li.item-4 {
        border-color: #999999; }
      .skills__list__col li.item-5 {
        border-color: #bfbfbf; }

.contact {
  padding: 2em 2em;
  font-family: "Roboto", sans-serif; }
  .contact__container {
    margin-bottom: 1.5em; }
    .contact__container__title, .contact__container__intro {
      font-size: 3rem;
      text-transform: lowercase;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -0.1rem; }
    .contact__container__intro {
      font-weight: 700; }
  .contact__form__field {
    height: 2.25em;
    width: 100%;
    margin-bottom: 1em; }
  .contact__form__textarea {
    width: 100%;
    margin-bottom: 0.75em; }
  .contact__form__cta {
    width: 60%;
    height: 2.25em;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: white;
    margin: 0 auto;
    display: block;
    border: 1px solid #000; }
