.contact {
    padding: 2em 2em;
    font-family: $ff-main;
    z-index:5;
    position: relative;

    &__container {
        margin-bottom: 1.5em;

        &__title,
        &__intro {
            font-size: 3rem;
            text-transform: lowercase;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.1rem;
        }

        &__intro {
            font-weight: 700;
        }
    }

    &__form {

        &__label {
            display: block;
        }

        &__field {
            height: 2.25em;
            width: 100%;
            margin-bottom: 1em;
        }

        &__textarea {
            width: 100%;
            margin-bottom: 0.75em;
        }

        &__cta {
            width: 60%;
            height: 2.25em;
            font-size: 1.125rem;
            font-weight: 700;
            background-color: white;
            margin: 0 auto;
            display: block;
            border: 1px solid #000;
        }
    }
}

.fab {
    font-size: 30px;
}