.contact {
    padding: 2em 2em;
    font-family: $ff-main;
    z-index:5;
    position: relative;

    @media(min-width: 768px) {
        padding-top: 4em;
    }

    &__container {
        margin-bottom: 1.5em;

        @media(min-width: 768px) {
            max-width: 415px;
            margin: 0 auto;
        }

        @media(min-width: 1024px) {
            max-width: 608px;
        }

        &__title,
        &__intro {
            font-size: 3rem;
            text-transform: lowercase;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.1rem;

            @media(min-width: 1024px) {
                font-size: 4rem;
            }
        }

        &__intro {
            font-weight: 700;
        }
    }

    &__form {
        @media(min-width: 768px) {
            max-width: 415px;
            margin-top: 2em;
            margin-left: auto;
            margin-right: auto;
        }

        @media(min-width: 1024px) {
            max-width: 608px;
        }

        &__label {
            display: block;
            @media(min-width: 1024px) {
                font-size: 1.5rem;
            }
        }

        &__field {
            height: 2.25em;
            width: 100%;
            margin-bottom: 1em;

            @media(min-width: 768px) {
                height: 3em;
            }
        }

        &__textarea {
            width: 100%;
            margin-bottom: 0.75em;

            @media(min-width: 768px) {
                margin-bottom: 1em;
            }
        }

        &__cta {
            width: 60%;
            height: 2.25em;
            font-size: 1.125rem;
            font-weight: 700;
            background-color: white;
            margin: 0 auto;
            display: block;
            border: 1px solid #000;
            font-style: italic;

            @media(min-width: 768px) {
                height: 2em;
                width: 50%;
                font-size: 1.5rem;
            }
        }
    }
}

.fab {
    font-size: 30px;
}