.header {
    background-color: $black;
    color: $white;
    box-shadow: 5px 5px 5px 2px #ccc;
    position: relative;
    z-index: 10;

    &__container {
        margin: 0 auto;
        max-width: 323px;

        @media(min-width: 768px) {
            max-width: 350px;
            padding-top: 1em;
        }

        @media(min-width: 1024px) {
            max-width: 440px;
            padding-top: 3em;
        }

        &__logo {
            padding: 2em 0 0 1em;

            &__circle {
                background-color: $white;
                width: 116px;
                height: 116px;
                border-radius: 50%;

                @media(min-width: 1024px) {
                    width: 138px;
                    height: 138px;
                }
            }

            &__initials {
                font-family: $ff-logo;
                font-size: 4rem;
                color: $black;
                padding-top: 0.2em;
                padding-left: 0.4em;

                @media(min-width: 1024px) {
                    font-size: 4.5rem;
                    padding-top: 0.25em;
                    padding-left: 0.45em;
                }
            }
        }

        &__intro {
            margin-top: -1.75em;
            padding-right: 1.25em;
            letter-spacing: -0.1em;
        }

        &__nav {
            width: 90%;
            padding: 1.75em 0 0.75em;
            margin: 0 auto;
            text-align: center;

            @media(min-width: 768px) {
                padding-top: 2em;
            }

            @media(min-width: 1024px) {
                padding-top: 2.75em;
                width: 100%;
            }

            &__menu {
                padding: 0;
                margin: 0;

                &__item {
                    display: inline;

                    font-family: $ff-main; 
                    text-transform: lowercase;
                    padding-right: 1em;  

                    @media(min-width: 768px) {
                        padding-right: 2em;
                    }

                    @media(min-width: 1024px) {
                        padding-right: 2.6em;
                    }

                    &:last-of-type {
                        padding-right:0;
                    }

                    &__link {
                        text-decoration: none;
                        color: $white;
                        font-size: 0.875rem;

                        @media(min-width: 768px) {
                            font-size: 1rem;
                        }

                        @media(min-width: 1024px) {
                            font-size: 1.5rem;
                        }
                        
                        &:hover,
                        &:focus,
                        &__active {
                            text-transform: uppercase;
                            border-top: 1px solid $white;
                            padding-top: 0.5em;

                            @media(min-width: 768px) {
                                border-width: 3px;
                                padding-top: 0.3em;
                            }
                        }
                    }
                }
            }
        }
    }
}