.header {
    background-color: $black;
    color: $white;
    box-shadow: 5px 5px 5px 2px #ccc;
    position: relative;
    z-index: 10;

    &__container {
        margin: 0 auto;
        max-width: 323px;

        @media(min-width: 768px) {
            max-width: 350px;
            padding-top: 1em;
        }

        @media(min-width: 1024px) {
            max-width: 440px;
            padding-top: 3em;
        }

        &__logo {
            padding: 2em 0 0 1em;

            &__circle {
                background-color: $white;
                width: 116px;
                height: 116px;
                border-radius: 50%;

                @media(min-width: 1024px) {
                    width: 138px;
                    height: 138px;
                }
            }

            &__initials {
                font-family: $ff-logo;
                font-size: 4rem;
                color: $black;
                padding-top: 0.2em;
                padding-left: 0.4em;

                @media(min-width: 1024px) {
                    font-size: 4.5rem;
                    padding-top: 0.25em;
                    padding-left: 0.45em;
                }
            }
        }

        &__intro {
            margin-top: -1.75em;
            padding-right: 1.25em;
            letter-spacing: -0.1em;
        }

        &__nav {
            background-color: $black;
            padding: 1.75em 0 0.75em;
            margin: 0 auto;
            text-align: center;

            @media(min-width: 768px) {
                padding-top: 2em;
            }

            @media(min-width: 1024px) {
                padding-top: 2.75em;
            }

            &__menu {
                width:90%;
                margin: 0 auto;
                list-style-type: none;
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                font-size: 1.25rem;
                

                @media(min-width: 768px) {
                    width: 100%;
                    grid-gap: 5%;
                }

                &__item {
                    font-family: $ff-main; 

                    &__link {
                        text-transform: lowercase;           
                        text-decoration: none;
                        color: $white;
                        font-size: 0.875rem;   
                        padding-top: 0.5em;
                        border-top: 1px solid transparent;

                        @media(min-width: 768px) {
                            font-size: 1rem;
                        }

                        @media(min-width: 1024px) {
                            font-size: 1.5rem;
                        }

                        &:hover,
                        &:focus,
                        &__active {
                            text-transform: uppercase;
                            border-top-color: $white;

                            @media(min-width: 768px) {
                                border-width: 3px;
                                padding-top: 0.3em;
                            }
                        }
                    }
                }
            }
        }
    }
}