.intro {
    background-color: $pink;
    padding: 2.5em;
    font-family: $ff-main;

    &__title {
        font-size: 3rem;
        text-transform: lowercase;
        font-weight: 700;
        padding:0;
        margin-bottom: 0.5em;
        letter-spacing: -0.1rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.5em;

        &:last-of-type {
            margin-bottom:0;
        }
    }
}