.projects {
    padding: 1.5em 1em 2em;
    font-family: $ff-main;
    background-color: white;

    @media(min-width: 768px) {
        padding-top: 3em;
        padding-bottom: 4em;
    }

    &__container {

        @media(min-width: 1024px) {
            max-width: 1120px;
            margin: 0 auto;
        }

        &__intro {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0.75em;

            @media(min-width: 768px) {
                max-width: 415px;
                margin: 0 auto;
            }

            @media(min-width: 1024px) {
                max-width: 608px;
            }
        
            &__title {
                font-size: 3rem;
                text-transform: lowercase;
                font-weight: 300;
                padding:0;
                
                letter-spacing: -0.1rem;
                line-height: 0.85;

                @media(min-width: 1024px) {
                    font-size: 4rem;
                }

                &__bold {
                    font-weight: 700;
                }
            }

            &__filter {
                font-style: italic;
                text-align: right;
                font-size: 1.125rem;
                letter-spacing: -0.05rem;
                align-self: flex-end;   

                @media(min-width: 1024px) {
                    font-size: 1.875rem;
                }

                & .fas {
                    font-size: 0.8rem;
                    padding: 0 0.5em;
                }
            }
        }

        &__list {

            @media(min-width: 768px) {
                margin-top: 1em;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__cta {
                position: relative;
                display: block;

                &:hover,
                &:focus {
                    .projects__container__list__cta__overlay {
                        opacity: 1;
                      }
                }

                @media(min-width: 768px) {
                    flex: 1 0 45%;                    
                }

                @media(min-width: 1024px) {
                    flex: 1 0 33%;                    
                }
                
                & img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }

                &__overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #F6E9E9;

                    &__intro {
                        
                        color: $black;
                        font-size: 1.5rem;
                        font-weight: 300;
                        width: 90%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                        text-transform: lowercase;
                        display: block;

                        &__bold {
                            font-weight: 700;
                            display: block;
                            margin-bottom: 0.25em;
                        }

                        &__cta {
                            height: 2em;
                            background-color: black;
                            padding: 0.25em 0.5em;
                            margin: 0.75em auto 0;
                            text-decoration: none;
                            font-size: 0.75em;
                            color: white;
                            border: none;

                            .fab,
                            .fas {
                                font-size: 1.25rem;
                                padding-right: 0.15em;
                            }

                            &:hover {
                                background: lighten(#000, 50%);
                            } 
                        }
                    }    
                }
            }
        }
    }
}