.projects {
    padding: 1.5em 1em 2em;
    font-family: $ff-main;

    @media(min-width: 768px) {
        padding-top: 3em;
        padding-bottom: 4em;
    }

    &__container {

        @media(min-width: 1024px) {
            max-width: 1120px;
            margin: 0 auto;
        }

        &__intro {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0.75em;

            @media(min-width: 768px) {
                max-width: 415px;
                margin: 0 auto;
            }

            @media(min-width: 1024px) {
                max-width: 608px;
            }
        
            &__title {
                font-size: 3rem;
                text-transform: lowercase;
                font-weight: 300;
                padding:0;
                
                letter-spacing: -0.1rem;
                line-height: 0.85;

                @media(min-width: 1024px) {
                    font-size: 4rem;
                }

                &__bold {
                    font-weight: 700;
                }
            }

            &__filter {
                font-style: italic;
                text-align: right;
                font-size: 1.125rem;
                letter-spacing: -0.05rem;
                align-self: flex-end;   

                @media(min-width: 1024px) {
                    font-size: 1.875rem;
                }

                & .fas {
                    font-size: 0.8rem;
                    padding: 0 0.5em;
                }
            }
        }

        &__list {

            @media(min-width: 768px) {
                margin-top: 1em;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
            }

            &__cta {
                position: relative;
                display: block;

                &:hover,
                &:focus {
                    .projects__container__list__cta__container {
                        opacity: 1;
                      }
                }

                & img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }

                &__container {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #ccc;

                    &__intro {
                        
                        color: white;
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }

                    
                }

            }




           
            &__project {
               display: block;
                background-image: url(../../images/portfolio-clock.png); 
                max-width: 100%;
                height: 287px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media(min-width: 768px) {
                    flex: 1 0 45%;
          
                }

                @media(min-width: 1024px) {
                    flex: 1 0 33%;                    
                }
            
                &--clock {
                    background-image: url(../../images/portfolio-clock.png); 
                }

                &--calculator {
                    background-image: url(../../images/portfolio-calc.png); 
                }

                &--drum {
                    background-image: url(../../images/portfolio-drum.jpg); 
                }

                &--markdown {
                    background-image: url(../../images/portfolio-markdown.png); 
                }

                &--quote {
                    background-image: url(../../images/portfolio-quote.png); 
                }
            }
        }
    }
}