.skills {
    padding: 1.5em 1em 2em;
    font-family: $ff-main;
    background-color: lightgray;

    @media(min-width: 768px) {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    &__container {

        @media(min-width: 667px) {
            max-width: 415px;
            margin: 0 auto;
        }

        @media(min-width: 1024px) {
            max-width: 608px;
        }
    
        &__title {
            font-size: 3rem;
            text-transform: lowercase;
            font-weight: 300;
            padding:0;
            margin-bottom: 0.5em;  
            letter-spacing: -0.1rem;
            line-height: 1;

            @media(min-width: 1024px) {
                font-size: 4rem;
            }

            &__bold {
                font-weight: 700;  
            }
        }

        p {
            font-size: 1.125rem;
            font-weight: 300;
            margin-bottom: 0.5em;
            
            @media(min-width: 768px) {
                margin-bottom: 1em;
                line-height: 1.25;
                font-size: 1.5rem;
            }

            @media(min-width: 1024px) {
                font-size: 2.25rem;
                margin-bottom: 2em;
            }
        }

        &__list {
            margin-top: 1.5em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media(min-width: 768px) {
                margin-top: 2.5em;
            }

            &__col {
                list-style-type: none;
                text-align: right;
                width: 45%;
                font-family: $ff-main;
                font-weight: 900;
                font-style: italic;

                &__item {
                    font-size: 1.5rem; 
                    border-bottom: 5px solid;
                    margin-bottom: 0.5em;

                    @media(min-width: 1024px) {
                        font-size: 2.25rem;
                    }
                }

                @for $i from 1 through 6 {
                    & li.item-#{$i} {
                        border-color: lighten(#000, $i*15%);
                    }
                }
            }
        }
    }
}